<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 
  
  <!--  PuReWidgets --> 
  
  <servlet>
    <servlet-name>HttpServlet</servlet-name>
    <servlet-class>org.purewidgets.server.http.HttpServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HttpServlet</servlet-name>
    <url-pattern>/httpservice</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>remoteStorageServlet</servlet-name>
    <servlet-class>org.purewidgets.server.storage.ServerStorageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>remoteStorageServlet</servlet-name>
    <url-pattern>/storageservice</url-pattern>
  </servlet-mapping>
  
  
<!-- EveryBody Votes -->
<servlet>
    <servlet-name>EveryBodyVotes</servlet-name>
    <servlet-class>org.jorgecardoso.purewidgets.demo.everybodyvotes.server.EveryBodyVotes</servlet-class>
</servlet> 
<servlet-mapping>
    <servlet-name>EveryBodyVotes</servlet-name>
    <url-pattern>/everybodyvotes/application</url-pattern>
</servlet-mapping>   
 <servlet>
    <servlet-name>pollServlet</servlet-name>
    <servlet-class>org.jorgecardoso.purewidgets.demo.everybodyvotes.server.service.PollServiceImpl</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>pollServlet</servlet-name>
    <url-pattern>/pollservice</url-pattern>
</servlet-mapping>    
 <servlet>
    <servlet-name>updateapplication</servlet-name>
    <servlet-class>org.purewidgets.server.cron.UpdateApplication</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>updateapplication</servlet-name>
    <url-pattern>/everybodyvotes/update</url-pattern>
  </servlet-mapping>

<!--  System -->
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
	


</web-app>